:root {
    --color-gray: hsl(0, 0%, 25%);
    --color-light: hsl(0, 0%, 90%);
    --color-menu: hsl(240, 13%, 46%);
    --color-menu-dark: hsl(240, 13%, 28%);
    --outline-size: 2px;
    --minimal-padding: 10px;
    --small-padding: 24px;
    --large-padding: 60px;
    --outside-margin-top: 80px;
}
.headerText {
    margin-top: var(--outside-margin-top);
    color: var(--color-light);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
body {
    overflow-y:scroll;
    overflow-x:hidden;
    background-image:url("bkg.png");
    image-rendering: pixelated;
    background-attachment:fixed;
    background-position:left;
    background-size:cover;
    font-family:Helvetica, sans-serif;
    color:var(--color-gray);
}

/* Main Content */
.mainContent {
    height: max-content;
    margin:auto;
    margin-top:var(--small-padding);
    width: 66vw;
    margin-left: 0 auto;
    margin-right: 0 auto;
    background-color:white;
}
.mainContentInner {
    padding:var(--small-padding);
    padding-top:var(--minimal-padding);
}
.mainText {
    padding: 0 18px;
    color: var(--color-gray);
}
h1 {
    font-size:48pt;
    text-align:center;
    line-height:0px
}
h2 {
    font-size:x-large;
}
h3 {
    font-size:large;
}
.subtitle {
    text-align:center;
}
a {
    color:var(--color-menu-dark)
}
.subtitleLink {
    color:var(--color-light)
}
ul {
    list-style-position: inside;
    padding-left: 0;
  }

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
    background-color: var(--color-menu);
    color: var(--color-light);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: var(--color-menu-dark);
}


/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: var(--color-light
    );
    color: var(--color-gray);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

footer {
    color:var(--color-light);
    margin-top:var(--small-padding);
    position:sticky;
    width:100%;
    text-align: center;
}