:root {
    --text-color: hsl(0, 0%, 25%);
    --minimal-padding: 10px;
    --small-padding: 40px;
    --large-padding: 60px;
    --outside-margin-top: 220px;
    --outside-margin-sides: 355px;
}

body {
    background-image:url(background.png);
    background-repeat:repeat-x;
    background-size:948px 948px;
    font-family:Helvetica, sans-serif;
    background-attachment:fixed;
    color:var(--text-color);
    height:100%;
}
/* Main Content */
.mainContent {
    height: 100vh;
    margin:auto;
    margin-top:var(--outside-margin-top);
    margin-left:var(--outside-margin-sides);
    margin-right:var(--outside-margin-sides);
    background-color:white;
}
.mainContentInner {
    padding:var(--small-padding);
    padding-top:var(--minimal-padding);
}
h1 {
    font-size:48pt;
    text-align:center;
}
h2 {
    font-size:x-large;
}
.subtitle {
    padding-top:0px;
    text-align:center;
}
.collapsibleToggle {
    font-size:large;
    cursor:default;
}
.collapsible {
    display:none;
}