:root {
  --grey: hsl(220, 10%, 40%);
  --grey-light: hsl(220, 10%, 80%);
  --main-accent: hsl(43, 100%, 60%);
  --secondary-accent: hsl(190, 60%, 60%);
  --border-width: 1px;
  --small: 10px;
  --medium: 20px;
  --large: 40px;
  --larger: 80px;
  --very-large: 240px;
}

.with-main-accent {
  color: var(--main-accent);
}

.with-secondary-accent {
  color: var(--secondary-accent);
}

.with-bold {
  font-weight: bold;
}

header {
  margin-top: var(--larger);
  color: white;
}

body {
  background-color: black;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Helvetica, sans-serif;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  border-radius: var(--small);
  margin: var(--large) 0;
  padding: var(--medium);
  background-color: white;
  color: black;
  width: 60%;
}

section {
  margin: 0;
  margin-bottom: var(--medium);

  &:not(:first-child) {
    margin-top: var(--large);
  }
}

h1 {
  font-size: 48pt;
  text-align: center;
  line-height: 0;
}

h2 {
  font-size: x-large;
  margin: 0;
}

h3 {
  font-size: large;
  margin: 0;
  margin-bottom: var(--small);

  &:not(:first-child) {
    margin-top: var(--medium);
  }
}

p {
  margin: 0;
}

p+p {
  margin-top: var(--small);
}

.subtitle {
  text-align: center;

  p {
    margin: var(--small);
  }
}

a {
  color: inherit;
}

ul {
  list-style-position: outside;
  margin: 0;
  padding-left: 15px;
}

details {
  margin: var(--medium) 0;
  border: var(--border-width) solid var(--grey);
  padding: var(--small);
  border-radius: var(--small);
}

summary {
  padding: var(--medium);
  margin: calc(-1 * var(--small));
  cursor: pointer;
  font-size: large;

  list-style-type: none;

  transition: all 0.2s ease-in-out;
}

.details-content {
  margin: var(--small);
}

footer {
  text-align: center;
}

.decorative-stripe {
  
}